#title-pic {
  margin: auto;
  float: none;
  width: 825px;
}
#info-main {
  margin: auto;
  float: none;
  width: 825px;
}
#left-main {
  height: 300px;
  width: 300px;
  margin-right: 10px;
  margin-top: 25px;border-radius: 25px;
  border: 1px solid black;
}

#right-main {
  height: 300px;
  margin-top: 25px;
  width: 500px;
  border-radius: 25px;
  border: 1px solid black;
}

#form-container {
  margin: auto;
  float: none;
  width: 825px;
}

#form-row {
  margin-top: 25px;
  width: 810px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  border: 1px solid black;
}

#results-container {
  margin: auto;
  float: none;
  border: 1px solid black;
  border-radius: 25px;
  width: 810px;
  display: none;
}


.button-row {
  padding-top: 25px;
}
