#title-pic {
  margin: auto;
  margin-top: 25px;
  float: none;
  width: 825px;
}
#info-main {
  margin: auto;
  float: none;
  width: 825px;
}
#left-main {
  height: 300px;
  width: 300px;
  margin-right: 10px;
  margin-top: 25px;border-radius: 25px;
  border: 1px solid black;
}

#aboutList {
  margin-top: 15px;
  padding-left: 20px;
}

#aboutItem {
  padding-left: 10px;
}

#right-main {
  height: 300px;
  margin-top: 25px;
  width: 500px;
  border-radius: 25px;
  border: 1px solid black;
}

#keyHeading {
  margin-top: 20px;
}
#keyTitle {
  margin-top: 15px;
}
#key {
  font-style: italic;
}

#GitLink {
  width: auto;
  padding: 1px;
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  background: #e8ebef;
  color: #0c0000;

  border-radius: 5px;
  }

#GitLink:hover {
color: #0c0000;
background: #c2edc3;
border: 1px solid #c2edc3;
}


#form-container {
  margin: auto;
  float: none;
  width: 825px;
}

#form-row {
  margin-top: 25px;
  width: 810px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  border: 1px solid black;
}

#results-container {
  margin: auto;
  margin-top: 25px;
  float: none;
  border: 1px solid black;
  border-radius: 25px;
  width: 810px;
  display: none;
}


.button-row {
  padding-top: 25px;
}
